@font-face {
    font-family: 'Pacifico';
    src: url('pacifico-webfont.eot');
    src: url('pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('pacifico-webfont.woff') format('woff'),
         url('pacifico-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background: #111;
    margin: 0;
    padding:    0;
}

body {
    width:  400px;
    background: #fff;
    margin: 0;
    padding:    0 0 3em 0;
    font-family:    Pacifico;
}

header {
    background: #0074d9;
}

h1 {
    margin: 0;
    padding:    0;
    font-size:  2.5em;
    color:  #ffdc00;
}

h1 img {
    margin: 0.2em 0 0.2em 0.2em;
    vertical-align: text-bottom;
}

button {
    display:    block;
    font-family:    Pacifico;
    background: rgba(127, 219, 255, 0.4);
    font-size:  1.5em;
    margin: 1em 1em 1em 1.75em;
    color:  #3d9970;
    border: none;
    padding:    0 0.5em 0 0;
}

.num {
    display:    inline-block;
    background: #0074d9;
    color:  #fff;
    border-radius:  50%;
    height: 2em;
    width:  2em;
    text-align: center;
    margin-left:    -1em;
}

input[type=file] {
    display:    none;
}
